body {
  background-color: #e3e3e3;
}
.row-one{
	background-color: green;
}
.row-two{
	background-color: yellow;
}
.row-three{
	background-color: red;
}
/*
	Nice homage to rasta culture above
*/
.row-four{
	background-color: blue;
}